[submodule "Plugins/PuertsSlate"]
	path = Plugins/PuertsSlate
	url = https://codeup.aliyun.com/6078cd0261a945067837c462/Shared/Plugins/PuertsSlate.git
	branch = master
[submodule "Plugins/Puerts"]
	path = Plugins/Puerts
	url = https://codeup.aliyun.com/6078cd0261a945067837c462/Shared/Plugins/Puerts.git
	branch = puerts_demo
