Binaries
Intermediate
Saved
*.sln
.vs
/Tools/UnrealVS/.idea
/Tools/UnrealVS/node_modules
/Tools/UnrealVS/package-lock.json
/Tools/UnrealVS/UnrealVS.js
/Packages
/Build
/DerivedDataCache
/Content/JavaScript
/.idea
/*.vsconfig
/Typing
/node_modules
/package-lock.json